src/main/mule/hellogitcicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8d6d3c87-d4a6-4de4-b2ff-411e1906c996" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hellogitcicdFlow" doc:id="3e809f59-08fb-4510-82b5-432061d030dd" >
		<http:listener doc:name="Listener" doc:id="7f1a81ca-b437-44c2-872a-e5aaf9f21a27" config-ref="HTTP_Listener_config" path="/hellogitcicd"/>
		<ee:transform doc:name="Transform Message" doc:id="4794a527-8635-4915-a59f-24109a4a55af" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Test hellogitcicd"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="11616e8e-d122-4a80-a0ae-e5021598d7ad" message="#[payload]"/>
	</flow>
</mule>
